<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">exit_to_app</i>
                      </div>
                      <p class="card-category">Visits</p>
                      <h3 class="card-title">
{{visits}}
                      </h3>
                  </div>
                  <div class="card-footer">
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">near_me</i>
                      </div>
                      <p class="card-category">Redirects</p>
                      <h3 class="card-title">{{redirects}}</h3>
                  </div>
                  <div class="card-footer">
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">search</i>
                      </div>
                      <p class="card-category">Searches</p>
                      <h3 class="card-title">{{searches}}</h3>
                  </div>
                  <div class="card-footer">
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
