
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">NEWS</h4>
                      <p class="card-category">Post news</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-4">
                                  <label>News Image</label>
                                  <input style="top:300px" type="file" class="form-control" id="img" (change)="editFileHandler($event)">
                              </div>

                          </div>
                          <br>
    <br>
        <br>
                          <div class="row">
                              <div class="col-md-12">

                                <textarea [(ngModel)]="title" name="message" type="text" id="input-message" placeholder="News Title"></textarea>
                                                     </div>
                          </div>
    <br>
        <br>
                          <div class="row">
                              <div class="col-md-12">


    <textarea [(ngModel)]="body"  rows="100" name="message" type="text"  placeholder="News Body"></textarea>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button (click)="post()" class="btn btn-danger pull-right">Post</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
